.parent{
    background: tomato;
    height: 70vh;
    font-size: 20px;
    width: 50vw;
}
.child{
    background: lime;
    height: 40vh;
    font-size: 020px;
    width: 50vw;
}
.second-child{
    background: khaki;
    font-size: 020px;
    height: 2vmax;
    width: 50vmax;
}